app-confirm-action {
    mat-dialog-content {
        .center {
            text-align: center;
        }

        .reject-comment {
            width: 100%;
            margin-top: 8px;
        }
    }
}