<h2 mat-dialog-title>Confirmar Permisos</h2>
<mat-dialog-content>
    <form [formGroup]="timeOffForm">
        <mat-form-field class="mt-12">
            <mat-label>Seleccione un código</mat-label>
            <mat-icon matPrefix>code</mat-icon>
            <mat-select formControlName="incidentCode">
                @for (incidentCode of data.incidentCodes; track $index) {
                    <mat-option [value]="incidentCode.code">{{ incidentCode.label }}</mat-option>
                }
            </mat-select>
            @if (incidentCodeControl.hasError('required')) {
              <mat-error>
                El código es requerido
              </mat-error>
            }
        </mat-form-field>
    
        <p>Se le asignarán <b>permisos</b> a <b>{{ data.employeeName }}</b> los siguientes días <br /></p>
        <ul>
            @for (item of datesFormat; track $index) {
                <li>{{ item }}</li>
            }
        </ul>
        <mat-checkbox formControlName="requireAbsenceRequest">
            ¿Requiere solicitud de ausencia?
        </mat-checkbox>

        @if (requireAbsenceRequest) {
            <mat-form-field class="mt-12">
                <mat-label>Observaciones</mat-label>
                <textarea matInput formControlName="notes" rows="3"></textarea>
            </mat-form-field>
        }
    </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-flat-button [disabled]="timeOffForm.invalid" (click)="submit()">Confirmar</button>
</mat-dialog-actions>