<div class="group-title">
    <span class="hint-text" [translate]="item()?.translate">{{ item()?.title }}</span>
</div>

<div class="group-items">
    @for (child of item()?.children; track child.title) {
        @if (child?.type === 'collapse') {
            <app-nav-collapse [item]="$any(child)" />
        }
        @if (child?.type === 'group') {
            <app-nav-group [item]="$any(child)" />
        }
        @if (child?.type === 'item') {
            <app-nav-item [item]="$any(child)" />
        }
    }
</div>
