:host {
    app-navbar:not(:hover) & {
        > .group-title {
            align-items: center;
            
            > span {
                opacity: 0;
                transition: opacity 200ms ease;
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                min-width: 16px;
                border-top: 2px solid;
                opacity: 0.2;
            }
        }
    }
}