app-auth-login {
  width: 100%;
  height: 100%;

  .container {
    height: 100%;
    background-color: #f2f5ff;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      width: fit-content;
      text-align: center;

      form {
        padding: 36px;
        background-color: white;
        border-radius: 8px;
        margin-top: 24px;
        margin-bottom: 36px;
        display: flex;
        flex-direction: column;
        min-width: 450px;

        h2 {
          color: #324f78;
          font-weight: normal;
          margin-bottom: 12px;
        }

        .subtitle {
          font-size: 15px;
          color: #adb2bd;
        }
      }

      .forgot-password {
        label {
          color: #8f9fb6;

          a {
            color: #277ffe;
          }
        }
      }
    }
  }
}
