app-pendings-attendamce-incident {
    .ctn-filter {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .ctn-others {
            display: flex;
            gap: 12px;
            align-items: center;

            .ctn-search {
                .input-search {
                    position: relative;

                    input {
                        padding: 7px 11px;
                        padding-right: 32px;
                        border-radius: 6px;
                        border: 1px solid #a6aab2;
                        color: #1f384c;
                    }

                    mat-icon {
                        position: absolute;
                        right: 0px;
                        top: 5px;
                        right: 7px;
                        color: #a6aab2;
                    }
                }
            }
        }
    }

    table {
        width: 100%;
        font-size: 12px;
        border-collapse: collapse;
        margin-top: 24px;

        thead {
            th {
                text-align: center;
                background-color: #ecf0f3;
                color: #686f7c;
                font-weight: normal;
                padding: 8px 11px;
                text-align: center;

                &:first-child {
                    border-top-left-radius: 8px;
                }

                &:last-child {
                    border-top-right-radius: 8px;
                }
            }
        }

        tbody {
            tr {
                background-color: white;

                &:nth-child(even) {
                    background-color: #f9fbfc;
                }

                td {
                    padding: 9px 11px;
                    text-align: center;
                    border-bottom: 1px solid #e4e8ef;

                    &.name {
                        max-width: 110px;

                        .ctn-name {
                            display: flex;
                            width: fit-content;
                            align-items: center;
                            align-content: center;
                            gap: 7px;
    
                            .labels {
                                text-align: left;
                                p {
                                    margin: 0;
                                    margin-bottom: 2px;
                                }
    
                                span {
                                    color: rgb(81, 81, 81);
                                }
                            }
                        }
                    }

                    .ctn-actions {
                        display: flex;
                        gap: 12px;
                        justify-content: center;

                        .warning {
                            color: red;

                            &:hover {
                                background-color: rgb(255, 228, 228);
                            }

                            &:active {
                                background-color: rgb(255, 207, 207);
                            }
                        }
                    }
                }
            }
        }
    }
}