app-period {
    .ctn-filter {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ctn-period {
            button {
                font-size: 12px;
                font-weight: normal;
                border-radius: 6px;
                padding-top: 5px;
                padding-bottom: 5px;
                max-height: 30px;
            }

            .btn-filter-pc, .btn-filter-tn {
                border: 1px solid #a6aab2;
                background-color: white;
                color: #1f384c;
            }
        }

        .ctn-upload {
            input {
                display: none;
            }
        }
    }

    table {
        width: 100%;
        font-size: 12px;
        border-collapse: collapse;
        margin-top: 24px;

        thead {
            th {
                text-align: center;
                background-color: #ecf0f3 !important;
                color: #686f7c !important;
                font-weight: normal;
                padding: 8px 11px;
                text-align: center;

                &:first-child {
                    border-top-left-radius: 8px;
                }

                &:last-child {
                    border-top-right-radius: 8px;
                }
            }
        }

        tbody {
            tr {
                background-color: white !important;

                &:nth-child(even) {
                    background-color: #f9fbfc !important;
                }

                &:hover {
                    background-color: #e8edff !important;
                }

                td {
                    padding: 5px 11px;
                    text-align: center;
                    border-bottom: 1px solid #e4e8ef !important;

                    .icon-active {
                        color: #1a79ff;
                    }
                }
            }
        }
    }
}