<h2 mat-dialog-title>{{ isEditMode ? 'Editar Rol' : 'Agregar Rol' }}</h2>
<mat-dialog-content>
    <form [formGroup]="createForm" class="mt-12">
        <mat-form-field class="mb-12">
            <mat-label>Ingrese etiqueta</mat-label>
            <mat-icon matPrefix>label</mat-icon>
            <input type="text" matInput formControlName="label">
            @if (getFieldControl('label')?.hasError('required')) {
                <mat-error>
                  La etiqueta es requerida
                </mat-error>
            }

            @if (getFieldControl('label')?.hasError('minlength')) {
              <mat-error>
                Ingrese al menos 5 caracteres
              </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Seleccionar secciones</mat-label>
            <mat-icon matPrefix>group</mat-icon>
            <mat-select formControlName="sections" multiple>
              <mat-option *ngFor="let item of listSections" [value]="item.code">
                {{ item.label }}
              </mat-option>
            </mat-select>
            @if (getFieldControl('sections')?.hasError('required')) {
                <mat-error>
                  Las secciones son requeridas
                </mat-error>
            }
        </mat-form-field>

        @if (hasTasistencia) {
          <mat-checkbox formControlName="canClosePayrollPeriod">Cierre de Periodo</mat-checkbox>
          <mat-checkbox formControlName="canModifyCheckins">Modificar Checadas</mat-checkbox>
        }

        @if (hasPeriods) {
          <mat-checkbox formControlName="canManagePeriods">Activar/Desactivar Periodos</mat-checkbox>
        }
    </form>
</mat-dialog-content>
<mat-dialog-actions>
  @if (loading()) {
    <mat-spinner diameter="25"></mat-spinner>
  } @else {
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-flat-button (click)="submit()" cdkFocusInitial>Confirmar</button>
  }
</mat-dialog-actions>