app-clock-users {
    mat-dialog-content {
        min-width: 350px;
    }

    .ctn-search {
        margin-bottom: 8px;

        .input-search {
            position: relative;

            input {
                width: 100%;
                padding: 7px 11px;
                padding-right: 32px;
                border-radius: 6px;
                border: 1px solid #a6aab2;
                color: #1f384c;
            }

            mat-icon {
                position: absolute;
                right: 0px;
                top: 5px;
                right: 7px;
                color: #a6aab2;
            }
        }
    }

    table {
        border-collapse: collapse;

        thead {
            th {
                font-weight: normal;
                padding: 8px 11px;
                text-align: left;
                background-color: #ecf0f3 !important;
                color: #686f7c !important;

                &:first-child {
                    border-top-left-radius: 8px;
                }

                &:last-child {
                    border-top-right-radius: 8px;
                }
            }
        }

        tbody {
            tr {
                background-color: white !important;

                &:nth-child(even) {
                    background-color: #f9fbfc !important;
                }

                &:hover {
                    background-color: #e8edff !important;
                }

                td {
                    padding: 5px 11px;
                    text-align: center;
                    border-bottom: 1px solid #e4e8ef !important;

                    &.enabled {
                        text-align: center;
                    }
                }
            }
        }
    }
}