@use '../../core/scss/app';

app-sunday-bonus {
    .ctn-filter {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ctn-period {
            button {
                font-size: 12px;
                font-weight: normal;
                border-radius: 6px;
                padding-top: 5px;
                padding-bottom: 5px;
                max-height: 30px;
                background-color: var(--primary-color);
            }

            .btn-filter-pc, .btn-filter-tn {
                border: 1px solid #a6aab2;
                background-color: white;
                color: #1f384c;
            }

            .btn-filter-tn {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                border-right: none;
            }

            .btn-filter-pc {
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                border-left: 1px solid #a6aab2;
            }
        }

        .ctn-others {
            display: flex;
            gap: 12px;
            align-items: center;

            .ctn-search {
                .input-search {
                    position: relative;

                    input {
                        padding: 7px 11px;
                        padding-right: 32px;
                        border-radius: 6px;
                        border: 1px solid #a6aab2;
                        color: #1f384c;
                    }

                    mat-icon {
                        position: absolute;
                        right: 0px;
                        top: 5px;
                        right: 7px;
                        color: #a6aab2;
                    }
                }
            }

            .ctn-export {
                button {
                    font-size: 12px;
                    font-weight: normal;
                    border-radius: 8px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    max-height: 34px;
                }
                
                .item-export-file {
                    width: 25px;
                    height: 25px;
                    object-fit: contain;
                }
            }
        }
    }

    table {
        width: 100%;
        font-size: 12px;
        border-collapse: collapse;
        margin-top: 24px;

        thead {
            th {
                text-align: left;
                background-color: #ecf0f3 !important;
                color: #686f7c !important;
                font-weight: normal;
                padding: 8px 11px;
                text-align: center;

                &:first-child {
                    border-top-left-radius: 8px;
                }

                &:last-child {
                    border-top-right-radius: 8px;
                }

                &.day {
                    span {
                        display: block;

                        &:first-child {
                            margin-bottom: 3px;
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                background-color: white !important;

                &:nth-child(even) {
                    background-color: #f9fbfc !important;
                }

                &:hover {
                    background-color: #e8edff !important;
                }

                td {
                    padding: 5px 11px;
                    text-align: center;
                    border-bottom: 1px solid #e4e8ef !important;
                }
            }
        }
    }
}