app-navbar {
    display: flex;
    flex-direction: column;
    width: 64px;
    /*min-width: 256px;
    max-width: 256px;*/
    overflow: hidden;
    transition: all .2s ease-in-out;

    &:hover {
        width: 256px;
    }

    .navbar-header {
        padding: 0 13px;
        display: flex;
        align-items: center;
        height: 64px;
        min-height: 64px;
        justify-content: space-between;
        transition: padding .2s ease;
        background-color: hsla(0,0%,100%,.05);
        border-bottom: 1px solid #d7d9e4;

        .logo {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;

            .logo-text {
                width: 30px;
            }
        }
    }

    .navbar-content {
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;

        .title {
            position: relative;
            display: flex;
            align-items: center;
            height: 48px;
            font-weight: 500;
            padding-left: 24px;
            margin-top: 8px;
            font-size: 12px;
            white-space: nowrap;
            color: #7d8b94;
            font-weight: initial;

            &::before {
                content: "";
                display: block;
                position: absolute;
                min-width: 16px;
                border-top: 2px solid;
                opacity: .2;
            }

            .hint-text {
                opacity: 0;
                transition: opacity .2s ease;
            }
        }
    }

    &:hover {

        .navbar-content {

            .title {
                .hint-text {
                    opacity: 1;
                }

                &::before {
                    display: none;
                }
            }
        }
    }
}