<div class="container module-container">
    <div class="ctn-filter">
        <div class="ctn-others">
            <div class="ctn-add">
                <button mat-flat-button (click)="createHoliday()">
                    <mat-icon>add</mat-icon>
                    Día Festivo
                </button>
            </div>
        </div>
    </div>

    <table mat-table #table [dataSource]="dayoffs">
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let row">
                {{ row.isSunday ? 'Domingo' : row.date | date: 'd MMMM' }}
            </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let row">{{ row.description }}</td>
        </ng-container>
        <ng-container matColumnDef="domincal">
            <th mat-header-cell *matHeaderCellDef> Dominical </th>
            <td mat-cell *matCellDef="let row">
                @if (row.isSunday) {
                    <mat-icon>check_circle</mat-icon>
                }
            </td>
        </ng-container>
        <ng-container matColumnDef="sindicato">
            <th mat-header-cell *matHeaderCellDef> Sindicato </th>
            <td mat-cell *matCellDef="let row">
                @if (row.isUnion) {
                    <mat-icon>check_circle</mat-icon>
                }
            </td>
        </ng-container>
        <ng-container matColumnDef="incidentCode">
            <th mat-header-cell *matHeaderCellDef> Código de Incidencia </th>
            <td mat-cell *matCellDef="let row">
                {{ row.incidentCode }}
            </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row">
                @if (isLoding(row)) {
                    <mat-spinner diameter="25"></mat-spinner>
                } @else if (!row.isSunday) {
                    <button mat-icon-button [matMenuTriggerFor]="actions"><mat-icon>more_vert</mat-icon></button>
                    <mat-menu #actions="matMenu">
                        <button mat-menu-item (click)="editHoliday(row)">
                            <mat-icon>edit</mat-icon>
                            <span>Editar</span>
                        </button>

                        <button mat-menu-item (click)="deleteDayOff(row)">
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>
                }
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
</div>