<mat-sidenav-container>
  <div id="app-main-content">
    <div id="wrapper">
      @if (appSettings.layout.navigation !== 'none') {
        <app-navbar></app-navbar>
      }

      <div class="content-wrapper">
        @if (appSettings.layout.toolbar !== 'none') {
          <app-toolbar> </app-toolbar>
        }

        <router-outlet></router-outlet>

        <app-splash-screen [@fadeInOut]="appSettings.loading ? '1' : '0'"></app-splash-screen>
      </div>
    </div>
  </div>
</mat-sidenav-container>