@use "../app/core/scss/app";

app-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  > mat-sidenav-container {
    display: flex !important;
    flex: 1;

    > .mat-sidenav-content,
    .mat-drawer-content {
      display: flex;
      flex: 1;
      overflow: hidden;

      #app-main-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: hidden;

        #wrapper {
          display: flex;
          position: relative;
          flex: 1;
          overflow: hidden;

          app-navbar {
            background-color: #f2f5ff;
          }

          .content-wrapper {
            display: flex;
            flex-direction: column;
            flex: 1;
            overflow: hidden;
            position: relative;

            > :not(router-outlet):not(app-toolbar):not(.splash-loading) {
              display: flex;
              flex: 1;
              width: 100%;
              min-width: 100%;
              overflow: auto;
            }
          }
        }
      }
    }
  }
}
