app-time-off-manager {
    .ctn-filter {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ctn-period {
            button {
                font-size: 12px;
                font-weight: normal;
                border-radius: 6px;
                padding-top: 5px;
                padding-bottom: 5px;
                max-height: 30px;
            }

            .btn-filter-pc, .btn-filter-tn {
                border: 1px solid #a6aab2;
                background-color: white;
                color: #1f384c;
            }

            .btn-filter-tn {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                border-right: none;
            }

            .btn-filter-pc {
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                border-left: 1px solid #a6aab2;
            }
        }

        .ctn-others {
            display: flex;
            gap: 12px;
            align-items: center;

            .ctn-search {
                .input-search {
                    position: relative;

                    input {
                        padding: 7px 11px;
                        padding-right: 32px;
                        border-radius: 6px;
                        border: 1px solid #a6aab2;
                        color: #1f384c;
                    }

                    mat-icon {
                        position: absolute;
                        right: 0px;
                        top: 5px;
                        right: 7px;
                        color: #a6aab2;
                    }
                }
            }
        }
    }

    table {
        width: 100%;
        font-size: 12px;
        border-collapse: collapse;
        margin-top: 24px;

        thead {
            th {
                text-align: left;
                background-color: #ecf0f3;
                color: #686f7c;
                font-weight: normal;
                padding: 8px 11px;
                text-align: center;

                &:first-child {
                    border-top-left-radius: 8px;
                }

                &:last-child {
                    border-top-right-radius: 8px;
                }

                &.day {
                    span {
                        display: block;

                        &:first-child {
                            margin-bottom: 3px;
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    background-color: white;
                    padding: 8px 11px;
                    border-bottom: 1px solid #e4e8ef;
                    border-right: 1px solid #e4e8ef;
                    &:last-child {
                        border-right: none;
                    }

                    &.employee {
                        max-width: 110px;
                        min-width: 210px;
                    }

                    &.day {
                        padding: 0px;
                        height: 40px;

                        &:hover {
                            background-color: rgb(208, 255, 206);
                        }

                        .item {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 18px;
                            color: green;
                        }
                    }

                    &.active, &.with-data {
                        background-color: rgb(208, 255, 206);
                    }

                    &.active.with-data {
                        background-color: orange;
                        color: white;

                        .item {
                            color: white;
                        }
                    }

                    .ctn-employee {
                        display: flex;
                        width: fit-content;
                        align-items: center;
                        align-content: center;
                        gap: 7px;

                        .name {
                            p {
                                margin: 0;
                                margin-bottom: 2px;
                            }

                            span {
                                color: rgb(81, 81, 81);
                            }
                        }
                    }
                }

                td.active {
                    &:first-child {
                        background-color: red;
                    }
                }
            }
        }
    }
}