<a class="nav-link" matRipple (click)="toggleOpen($event)">
    @if (item()?.icon && !item()?.iconCustom) {
        <mat-icon class="nav-link-icon">{{ item()?.icon }}</mat-icon>
    }
    @if (item()?.iconCustom) {
        <mat-icon class="nav-link-icon" svgIcon="{{ item()?.icon }}"></mat-icon>
    }

    <span class="nav-link-title" [translate]="item()?.translate">{{item()?.title}}</span>
    <mat-icon class="collapse-arrow">keyboard_arrow_right</mat-icon>
</a>

<div class="children" [@slideInOut]="isOpen() ? 1 : 0">
    @for (child of item()?.children; track child.title) {
        @if (child?.type === 'collapse') {
            <app-nav-collapse [item]="$any(child)" />
        }
        @if (child?.type === 'group') {
            <app-nav-group [item]="$any(child)" />
        }
        @if (child?.type === 'item') {
            <app-nav-item [item]="$any(child)" />
        }
    }
</div>
