app-settings {
    .ctn-steps {
        h3 {
            margin: 0;
        }

        .subtitle {
            margin-top: 4px;
            display: block;
            color: #818181;
            font-size: 13px;
        }

        .mdc-evolution-chip__action--primary::before {
            border-color: transparent !important;
        }

        .mdc-evolution-chip__text-label {
            color: #818181 !important;
            font-weight: normal;
        }

        .mdc-evolution-chip__action--primary:hover {
            .mdc-evolution-chip__text-label {
                color: #43464d !important;
                font-weight: 500;
            }
        }

        mat-chip {
            &.active {
                .mdc-evolution-chip__action--primary::before {
                    background-color: #eaeaee !important;
                }

                .mdc-evolution-chip__action--primary {
                    .mdc-evolution-chip__text-label {
                        color: #43464d !important;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .divider {
        margin: 6px 0;
    }

    .ctn-step-content {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        width: 100%;

        .ctn-item-step {
            width: 100%;
            min-width: 100%;
        }

        .item-setting {
            display: flex;
            align-items: center;
            gap: 12px;

            .labels {
                padding: 12px 0;
                width: 300px;

                p {
                    margin: 0;
                }

                span {
                    font-size: 12px;
                    color: #818181;
                }
            }
        }

        .content-appearence {
            .ctn-primary-color, .ctn-secondary-color {
                .values {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    span {
                        border: 1px solid #d7d9e4;
                        padding: 5px 10px;
                        border-radius: 4px;
                    }
                }
            }

            .ctn-logo {
                .values {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    button {
                        overflow: hidden;
                        position: relative;

                        input {
                            position: absolute;
                            top: -19px;
                            right: -21px;
                            width: 10px;
                        }
                    }

                    img {
                        height: 45px;
                        border-radius: 50%;
                        object-fit: contain;
                        object-position: center;
                    }
                }
            }
        }
    }
}