<div class="container module-container">
    <div class="ctn-title">
        <div class="title">
            <h2>Reloj</h2>
            <span>Lista de relojes</span>
        </div>
        <div class="ctn-btns">
            <button mat-flat-button matTooltip="Agregar reloj" (click)="addClock()">
                <mat-icon>add</mat-icon>
                Reloj
            </button>
            <button mat-flat-button matTooltip="Exportar usuarios">
                <mat-icon>output</mat-icon>
                Usuarios
            </button>
        </div>
    </div>
    <div class="ctn-items">
        @for (clock of listClocks(); track clock.id) {
            <div class="item">
                <p>{{ clock.label }}</p>
                <mat-list>
                    <mat-list-item>
                        <mat-icon matListItemIcon>dns</mat-icon>
                        <div matListItemTitle>{{ clock.ip }}</div>
                        <div matListItemLine>Dirección IP</div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListItemIcon>input</mat-icon>
                        <div matListItemTitle>{{ clock.port }}</div>
                        <div matListItemLine>Puerto</div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListItemIcon>event_repeat</mat-icon>
                        <div matListItemTitle>{{ formatLastSync(clock.lastSyncAt, nowTick()) }}</div>
                        <div matListItemLine>Últ. Sincronización</div>
                    </mat-list-item>
                </mat-list>
                <div class="actions">
                    @if (isLoading(clock)) {
                        <mat-spinner diameter="30"></mat-spinner>
                    }
                    @if (!isLoading(clock)) {
                        <button mat-button (click)="sendPing(clock)">Ping</button>
                        <button mat-button (click)="showClockUsers(clock)" matTooltip="Ver usuarios">
                            <mat-icon>visibility</mat-icon>
                            usuarios
                        </button>
                        <button mat-button (click)="syncAttendace(clock.id)" matTooltip="Sincronizar checadas">
                            <mat-icon>sync</mat-icon>
                            checadas
                        </button>
                    }
                </div>
            </div>
        }
    </div>
</div>
