<div class="container module-container">
    
    <div class="ctn-filter">
        <div class="ctn-period">
            <button class="btn-filter-tn" mat-flat-button [matMenuTriggerFor]="menuTypeNom" matTooltip="Tipo De Nómina">
                T. Nómina | {{ payroll?.typeNom }} - {{ payroll?.label }}
            </button>
            <mat-menu #menuTypeNom="matMenu">
                <button mat-menu-item *ngFor="let item of listPayrolls()" (click)="setPayroll(item.typeNom)">
                    @if (payroll?.typeNom === item.typeNom) {
                        <mat-icon>done</mat-icon>
                    }
                    
                    {{ item.typeNom }} | {{ item.label || item.typeNom }}
                </button>
            </mat-menu>
            <button class="btn-filter-pc" mat-flat-button [matMenuTriggerFor]="menuPeriodo" matTooltip="Periodo de Corte">
                <mat-icon>calendar_month</mat-icon> P. Corte {{ period?.numPeriod }} | {{ period?.startDate | date: 'dd/MM/yyyy' }} - {{ period?.closingDate | date: 'dd/MM/yyyy' }}
            </button>
            <mat-menu #menuPeriodo="matMenu" class="list-period-menu">
                <button mat-menu-item *ngFor="let item of listPeriods" (click)="setPeriod(item.numPeriod)">
                    @if (period?.numPeriod === item.numPeriod) {
                        <mat-icon>done</mat-icon>
                    }
                    
                    {{ item.numPeriod }} | {{ item.startDate | date: 'dd/MM/yyyy' }} - {{ item.closingDate | date: 'dd/MM/yyyy' }}
                </button>
            </mat-menu>
        </div>
        <div class="ctn-others">
            <div class="ctn-search">
                <div class="input-search">
                    <input type="search" name="search" id="search" placeholder="Buscar" [formControl]="searchControl">
                    <mat-icon>search</mat-icon>
                </div>
            </div>
            <div class="ctn-export">
                <button class="btn-filter-tn" mat-flat-button [matMenuTriggerFor]="downloadFile" matTooltip="Exportar A PDF | EXCEL">
                    <mat-icon>download</mat-icon>
                    Exportar
                </button>
                <mat-menu #downloadFile="matMenu">
                    <button mat-menu-item (click)="downloadReport(0)">
                        <img src="assets/icons/pdf.png" alt="pdf" class="mr-12" width="25px">
                        PDF
                    </button>
                    <button mat-menu-item (click)="downloadReport(1)">
                        <img src="assets/icons/xls.png" alt="xlsx" class="mr-12" width="25px">
                        EXCEL
                    </button>
                </mat-menu>
            </div>
            <div class="ctn-close-period">
                @if (canClosePayrollPeriod) {
                    <button (click)="confirmClosePeriod()" mat-icon-button color="warn" matTooltip="{{!closedPeriod ? 'Cerrar Periodo' : 'Abrir Periodo'}}">
                        <mat-icon>{{ !closedPeriod ? 'lock' : 'lock_open' }}</mat-icon>
                    </button>
                }
            </div>
        </div>
    </div>
    @if (loading()) {
        <mat-progress-bar mode="indeterminate" class="mt-24"></mat-progress-bar>
    }
    
    @if (closedPeriod) {
        <p class="alert-closed-period">El periodo está cerrado</p>
    }
    
    <div class="list-employees">
        <div class="ctn-employee" *ngFor="let employee of listEmployeeAttendance()">
            <span class="color-identify"></span>
            <div class="head">
                <div class="name">
                    <p>Cod. {{ employee.codigo }} | {{ employee.name }} {{ employee.lastName }} {{ employee.mLastName }} | {{ employee.activity }}</p>
                </div>
                <div class="actions">
                    <button [disabled]="closedPeriod" matTooltip="Asignar incidencias especiales" mat-button (click)="asignIncident(employee)">Asig. Incidencia</button>
                </div>
            </div>
            <div class="entry-checks">
                <table class="table-card">
                    <thead>
                        <tr class="head-days">
                            <th *ngFor="let attendance of employee.attendances" [ngClass]="{'isSunday': attendance.day === 'DOM.', 'isDayOff': attendance.isDayOff}">
                                @if (attendance.assistanceIncidents?.length) {
                                    <div class="ctn-day active" matTooltip="Ver incidencias" matTooltipPosition="above" (click)="detailsDay(employee, attendance)">
                                        <span>{{ attendance.day }}</span>
                                        <span>{{ attendance.label }}</span>
                                    </div>
                                } @else {
                                    <div class="ctn-day">
                                        <span>{{ attendance.day }}</span>
                                        <span>{{ attendance.label }}</span>
                                    </div>
                                }
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td *ngFor="let attendance of employee.attendances" [ngClass]="{'isSunday': attendance.day === 'DOM.', 'isDayOff': attendance.isDayOff}">
                                @if (attendance.checkEntry !== null) {
                                    <div class="ctn-registers" [ngClass]="{'isInconsistency': attendance.isInconsistency}">
                                        @if (!getIsLoading(employee.codigo, employee.company, attendance.date)) {
                                            <div (click)="asignDoubleShift(attendance, employee)" class="entry" matTooltip="Asignar doble turno" matTooltipPosition="above">{{ attendance.checkEntry }}</div>
                                            @if (canModifyCheckins) {
                                                <div class="output" (click)="handleChangeAttendance(employee, attendance)" matTooltip="Modificar Asistencia">{{ attendance.checkOut }}</div>
                                            } @else {
                                                <div class="output">{{ attendance.checkOut }}</div>
                                            }
                                        } @else {
                                            <mat-spinner diameter="30"></mat-spinner>
                                        }
                                      
                                    </div>
                                }

                                @if (attendance.checkEntry === null) {
                                    <div class="ctn-registers no-data" [ngClass]="{'saved': attendance.incidentCode !== 'N/A'}">
                                    @if (!getIsLoading(employee.codigo, employee.company, attendance.date)) {
                                        <div class="entry">
                                            <button [disabled]="closedPeriod" mat-button [matMenuTriggerFor]="menuIncidents">{{ attendance.incidentCode }}</button>
                                            <mat-menu #menuIncidents="matMenu">
                                                <button
                                                    mat-menu-item
                                                    *ngFor="let incident of listIncidentCodes()"
                                                    (click)="setIncidencia(incident.code, employee.codigo, employee.company, attendance)"
                                                >
                                                    {{ incident.code }} | {{ incident.label }}
                                                </button>
                                            </mat-menu>
                                        </div>
                                        @if (canModifyCheckins) {
                                            <div class="output" (click)="handleChangeAttendance(employee, attendance)" matTooltip="Modificar Asistencia"></div>
                                        } @else {
                                            <div class="output"></div>
                                        }
                                    } @else {
                                        <mat-spinner diameter="30"></mat-spinner>
                                    }
                                  </div>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <mat-paginator
        [length]="paginatorDetails().totalRecord"
        [pageSize]="paginatorDetails().pageSize"
        [pageSizeOptions]="[30, 50, 100]"
        [hidePageSize]="false"
        (page)="handlePageEvent($event)"
    ></mat-paginator>
</div>