<div class="container module-container">
    <div class="ctn-filter">
        <div class="ctn-others">
            <div class="ctn-search">
                <div class="input-search">
                    <input type="search" name="search" id="search" placeholder="Buscar" (keyup)="handleChangeSearch($event)">
                    <mat-icon>search</mat-icon>
                </div>
            </div>

            <div class="ctn-add">
                <button mat-flat-button (click)="addIncidentCode()">
                    <mat-icon>add</mat-icon>
                    Código
                </button>
            </div>
        </div>
    </div>
   
    <mat-progress-bar mode="indeterminate" class="mt-24" *ngIf="loading()"></mat-progress-bar>

    <table mat-table #table [dataSource]="listIncidentCode">
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let row"> {{ row.code }} </td>
        </ng-container>
        <ng-container matColumnDef="externalCode">
            <th mat-header-cell *matHeaderCellDef> Código Externo </th>
            <td mat-cell *matCellDef="let row"> {{ row.externalCode }} </td>
        </ng-container>
        <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef> Actividad </th>
            <td mat-cell *matCellDef="let row"> {{ row.label }} </td>
        </ng-container>
        <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef> Notas </th>
            <td mat-cell *matCellDef="let row"> {{ row.notes }} </td>
        </ng-container>
        <ng-container matColumnDef="withOperation">
            <th mat-header-cell *matHeaderCellDef> Con Operación </th>
            <td mat-cell *matCellDef="let row"> {{ row.withOperation ? 'SI' : 'NO' }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="actions"><mat-icon>more_vert</mat-icon></button>
                <mat-menu #actions="matMenu">
                    <button mat-menu-item (click)="editIncidentCode(row)">
                        <mat-icon>edit</mat-icon>
                        <span>Editar</span>
                    </button>
                    <button mat-menu-item (click)="deleteIncidentCode(row.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnTable"></tr>
        <tr mat-row *matRowDef="let row; columns: columnTable;"></tr>
    </table>
</div>