@use '../../core/scss/app';

app-import-attendance-logs {
    .ctn-input-upload {
        padding: 30px;
        border: 2px dashed #d2d2d2;
        border-radius: 8px;
        text-align: center;
        max-width: 450px;
        margin: auto;
        margin-top: 36px;
        position: relative;

        mat-icon {
            color: var(--primary-color);
            font-size: 45px;
            width: 45px;
            height: 45px;
        }

        p {
            margin-bottom: 4px;
        }

        span {
            font-size: 12px;
            color: #7a7a7a;
        }

        .file-input {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            cursor: pointer;
            opacity: 0;

            &:focus {
                outline: none;
            }
        }
    }

    .ctn-process-files {
        max-width: 450px;
        margin: auto;
        margin-top: 36px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 12px;
                border: 1px solid #d2d2d2;
                border-radius: 8px;
                display: flex;
                justify-content: space-between;
                margin-top: 12px;

                .ctn-info {
                    display: flex;
                    align-items: center;

                    .info {
                        margin-left: 12px;
                        p {
                            margin: 0;
                        }

                        span {
                            font-size: 12px;
                            color: #7a7a7a;
                        }
                    }
                }

                .status {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}